/* 表单输入项 */
.ly-form-item {  
  font-size: 16px;  
  line-height: 54px;  
  position: relative;
}
.ly-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio) {
  width: 100%;    
  text-align: left;  
  box-sizing: border-box;
  display: block;  
}
.ly-form-item input:not(.ly-radio-item):not(.ui-checkbox),
.ly-form-item textarea,
.ly-form-item select {
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;  
  line-height: 44px;
  padding-left: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: none;   
}
.ly-form-item .ly-radio-item {
  margin-right: 12px;
}

.ly-form-item .ly-radio {
  box-sizing: border-box;
  margin-right: 24px;
}
.ly-form-item input[type="checkbox"], 
.ly-form-item input[type="radio"] {
  padding-left: 0;
}
.ui-icon-close {
  position: absolute;
  top: 58px;
  right: 15px;
}
.ui-select-group {
  margin-left: 0;
}
.ui-select:after {
  right: 8px;
  margin-top: -2px;
}
.ly-select-span select {
  width: 110px;
}
.ly-select-span:after {
  right: 32px !important;
  margin-top: -2px !important;
}
.ly-form-item-textarea label {
  vertical-align: top;
}

.ly-form-item-textarea textarea {
  margin-top: 15px;
  border: none; 
}

.ly-form-item-textarea textarea:focus {
  outline: none; 
}