     
       .ly-home-project-img {
        display: inline-block;
       }

        .ly-home-link {
            color: #333;
        }
        .ly-home-list-item {
            padding: 12px 0;
        }            

        .ly-home-info p {
            font-size: 12px;
            margin: 4px 0;            
        }
     
