.ly-nurse-info-wrap {        
    min-height: 280px;
    width: 100%;
    margin-top: 0;       
    background: url(..//img/bg_nurse.png) center #2C3138;
    background-size: cover;
}
/* 分栏 */
.ly-bg-white {
    background-color: #fff;
}
.ly-title {
    padding: 12px 0 4px;
    font-weight: 600;
}
.ly-title span {        
    font-weight: 300;
}
.ly-padding-b {
    padding-bottom: 20px;
}
.ly-padding-t {
    padding-top: 20px;
}
.ly-list li {
    padding: 24px 0;
}
/* nowrap文本默认显示3行 */
.ui-nowrap-multi {
    -webkit-line-clamp: 3;
}
.ui-txt-info {
    color: #777;
    font-size: 12px;
    margin-left: 4px;
}
.ui-list > li {
    margin-left: 0;
    padding-right: 0;
}

/*护理员信息*/
.ly-nurse-avatar {
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 6px  rgba(255, 255, 255, 0.15),
                0 0 0 12px  rgba(255, 255, 255, 0.05);
    background-image: url(..//img/bg_nurse_avatar.png); 
    margin-bottom: 8px;                                               
}
.ly-nurse-avatar-wrap {
    position: relative;
}      
.ly-nurse-info {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;            
}        
.ly-nurse-info span {
    margin: 0 4px;
}
.ly-nurse-info h4,
.ly-nurse-info p {
    margin: 8px 0;            
}
/*护理员状态*/
/* isbusy */
.ly-nurse-state-idle {
background-image: url(..//img/ic_dot_free.png);
background-size: cover;
width: 24px;
height: 24px;
display: block;
position: absolute;
bottom: 8%;
right: 8%;
}
.ly-nurse-state-busy {
background-image: url(..//img/ic_dot_busy.png);
background-size: cover;
width: 24px;
height: 24px;
display: block;
position: absolute;
bottom: 8%;
right: 8%;
}
/*star 样式*/
.ly-stars {
    display: inline-block;
    margin: 8px 4px;
}
.ly-star {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(..//img/iconfont-star.png);
    background-size: cover;

}
/*数据信息前的icon*/
.ly-nurse-data span  {            
    margin: 0px 4px;
    height: 16px;
    display: inline-block;            
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.ly-nurse-data-orders:before {
    content: "";
    background:  url(..//img/ic_order.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin:0 4px;
    vertical-align: middle; 
}
.ly-nurse-data-pennants:before {
    content: "";
    background:  url(..//img/ic_pennant.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin:0 4px;
    vertical-align: middle; 
}
.ly-nurse-data-likes:before {
    content: "";
    background:  url(..//img/ic_reputation.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin:0 4px;
    vertical-align: middle; 
}

/*tags*/
.ly-nurse-intro {
    background: #fff;
    padding-top: 8px;
}
.ly-nurse-intro p span{
    color: #81C399;  
}
.ly-nurse-tags {
    padding: 6px 0;
    color: #81C399;
    font-size: 12px;            
}

.ly-nurse-tag {
    display: inline-block;
    position: relative;
    line-height: 23px;
    height: 23px;
    padding: 0px 6px;
    border: 1px solid #81C399;
    border-radius: 15px;
    margin: 0 4px 4px 0;
    vertical-align: middle;           
}
.ly-nurse-tag:before {
    content: "";
    background-image:  url(..//img/ic_tag_checked.png);
    background-size: cover;
    width: 12px;
    height: 12px;
    display: inline-block;            
    margin-right: 2px;
    vertical-align: middle;
}
/* 服务项目 */
.ly-nurse-type {
    padding: 
}
.ly-day {
    content: "";
    display: inline-block;  
    width: 14px;
    height: 14px;
    margin-left: 4px;
    background-image: url(..//img/ic_type_sun.png);
    background-size: cover;
    vertical-align: middle;
}
.ly-night {
    content: "";
    display: inline-block;  
    width: 14px;
    height: 14px;
    margin-left: 4px;
    background-image: url(..//img/ic_type_moon.png);
    background-size: cover;
    vertical-align: middle;
}
.ly-price {
    font-size: 13px; 
    margin-right: 14px;           
}
.ly-intro,
.ly-price-r {
    position: relative;
}
.ly-intro-i,        
.ly-price-i {
    content: "";    
    display: inline-block;  
    width: 8px;
    height: 8px;
    margin-left: 6px;
    background-image: url(..//img/ic_text_unflod.png);
    background-size: cover;
    position: absolute;
    bottom: 2px;
    right: 0;
    
}
.ly-service-intro {
    font-size: 13px;
    margin-top: 8px;
    display: none;
}
/* 服务流程 */

.ly-service-flow img {
    width: 100%;           
    margin: 4px auto;
}        
.ly-service-flow div .ui-center {
    height: 24px;
    margin-bottom: 12px;
}

.ly-intro h5 {                          
    margin-bottom: 8px;
    line-height: 32px;
}
